.main {
    max-width: 80%;
    margin: 10px auto 0 auto;
}

body {
    background-image: url(../icons/img/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
}

* {
    font-family: 'Pixelify Sans', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.dark-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0003;
    pointer-events: none;
    z-index: -1;
}

.nav>a:hover {
    color: rgba(255, 65, 233, 0.667);
    transition-duration: 0.1s;
}

.items {
    transition-duration: 0.1s;
}

button {
    height: fit-content;
    background-color: rgb(0, 0, 0, 0.0);
    outline: none;
    border: none;
    cursor: pointer;
}